<a href="https://colab.research.google.com/github/GantavyaSingh/Myfirstrepository/blob/master/Mywine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data analysis on White wine** 
 
 - by Gantavya Singh

**Data Analysis of the White Wine dataset**

The project is aimed at looking and finding deep insights of the white wine dataset. The report also aims in bringing us to a conclusion so as to what are the factors that affect the quality of wine. The data used is based on the wine quality dataset. The features of the dataset are as follows :-

This dataset has 12 variables which contains :-

  

*  9 variables of ingredient

*  2 variables of physical properity 
*  1 variable of quantity 


*  1 of quality

The dataset are of the size (4989 , 12).

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv', sep=';')

**Data and Types**

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

From above info we can see:

**Input variables:**

1.fixed acidity

2 - volatile acidity

3 - citric acid

4 - residual sugar

5 - chlorides

6 - free sulfur dioxide

7 - total sulfur dioxide

8 - density

9 - pH

10 - sulphates

11 - alcohol

**Output:**

1 -  Quality (0-10)

**DataSet Sample**

In [0]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

The above represents the first 5 rows of the dataset.

**Statistical Summary**

In [0]:
df.describe().T

                       count        mean  ...       75%        max
fixed acidity         4898.0    6.854788  ...    7.3000   14.20000
volatile acidity      4898.0    0.278241  ...    0.3200    1.10000
citric acid           4898.0    0.334192  ...    0.3900    1.66000
residual sugar        4898.0    6.391415  ...    9.9000   65.80000
chlorides             4898.0    0.045772  ...    0.0500    0.34600
free sulfur dioxide   4898.0   35.308085  ...   46.0000  289.00000
total sulfur dioxide  4898.0  138.360657  ...  167.0000  440.00000
density               4898.0    0.994027  ...    0.9961    1.03898
pH                    4898.0    3.188267  ...    3.2800    3.82000
sulphates             4898.0    0.489847  ...    0.5500    1.08000
alcohol               4898.0   10.514267  ...   11.4000   14.20000
quality               4898.0    5.877909  ...    6.0000    9.00000

[12 rows x 8 columns]

**Observation**

Large gap between the 75th percentile (Q3) and maximum value.

        a. Free Sulfur Dioxide 
        b. Total Sulfur Dioxide
        c. Residual Sugar 

Average Quality of Wine - 5.8
Density has lowest Std Dev.

**Univariate Analysis**

Univariate analysis helps us in indentifying the distribution of the variables. It gives us much more insight on the Outliers present on the data.

We will do analysis of every variable to check the trend.

In [0]:
import plotly.express as px
def describe2(x):
    x1 = x.describe(percentiles = [0.5]).to_frame().T
    x1['mode'] = x.mode().values
    x1['variance'] = x1['std'] ** 2
    x1['skew'] = x.skew()
    return x1.T